@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
  --gainsboro: #e0e0e0;
  --summer-sky: #3cabdb;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  color: #333333;
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
  
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
 
  cursor: pointer;
}

