/* Colors */

$gainsboro: #e0e0e0;
$sail: #9dd5ed;
$summer-sky: #3cabdb;
$whisper: #ededed;

/**********/


/* Mixins */

@mixin prefix($property, $val) { 
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  -o-#{$property}: $val;
  #{$property}: $val;
}

@mixin track {
  background: $gainsboro;
  border-radius: 20px;
  outline: none;
}

@mixin thumb {  
  width: 1.6em;
  height: 1.6em;

  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  border: 0.3em solid $whisper;
  background: $gainsboro;
  outline: none;

  cursor: pointer;
}

@mixin button {
  padding: 0.6em;

  border-radius: 5px;
  background: $summer-sky;

  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;

  cursor: pointer;
}

/**********/


.container {
  font-size: 1.6rem;
}

.app__header,
.settings__list,
.buttons {
  margin-bottom: 1.5em;
}

.app__header,
.app__body {
  padding: 1em;
}

.app__header {
  background: $summer-sky;
}

.header__title {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
}

.app__body {
  max-width: 700px;
  margin: 0 auto;
}

.settings__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  margin-bottom: 1em;
}

.setting__name,
.length-value {
  margin-right: 0.5em;
}

.setting__range {
  @include prefix(appearance, none);
  @include track;

  width: 85%;
  height: 0.5em;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include thumb;
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    @include thumb;
  }

  &::-ms-thumb {
    -ms-appearance: none;
    @include thumb;
  }
}

.buttons {
  display: flex;
  
  .generator-button {
    @include button;

    width: 85%;
    margin-right: 0.5em;
  }

  .copy-button {
    @include button;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 15%;  
  }
}

.setting__toggle {
  @include prefix(appearance, none);
  @include thumb;

  position: relative;

  transition: 0.2s ease-in;
 
  &:checked {
    border: 0.3em solid $sail;
    background: $summer-sky;
  }

}

.output {
  -ms-word-break: break-all; 
  word-break: break-all; 
  text-align: center;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 70%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 90%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

